body {
    background-color: rgba(135, 207, 235, 0.137);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.devboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 5px 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.img1 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.board {
    font-weight: bold;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inp1 {
    color: blue;
}

.img2 {
    width: 20px;
    height: 20px;
}

.half-round{
        background-color: rgba(135, 207, 235, 0.137);
        height: 40px;
        width: 60px;
        border-radius: 43%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.roundy{
    background-color: rgba(135, 207, 235, 0.137);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
}

/* main */


.container {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    gap: 20px;
    width: 83%; 
    padding: 20px;   
}

/* Left */
.task-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Top */
.top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 2px dashed rgb(194, 193, 193);
    padding-bottom: 35px;
}

/* Task Assigned */
.task-assigned {
    background: rgba(135, 207, 235, 0.137);
    padding: 15px;
    border-radius: 10px;
    gap: 5px;
}

.line{
    border: none;
    border-top: 2px dashed rgb(172, 166, 166);
    margin-top: 10px;
}

.task-head{
    display: flex;
    align-items: center;
}

.task-head span{
font-size: 28px;
}

.ttask{
    margin-left: 10px;   
}

.round{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Discover Something New */
.discover {
    background: rgba(28, 28, 250, 0.842);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.something{
   color: white; 
   font-size: large;
}


/* Date */
.date {
    background: rgba(135, 207, 235, 0.137);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Icons */
.task-header img,
.date img {
    width: 24px;
    height: 24px;
}


/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: rgba(135, 207, 235, 0.137);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.deadline {
    font-size: 14px;
    font-weight: bold;
    color: rgb(93, 91, 91);
}

.deadline span {
    display: block;
    font-size: 13px;
    color: rgb(93, 91, 91);
}

.completed {
    background: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.shop{
    background-color: white;
    width: 73px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
    color: gray;
    font-weight: 600;
}
.shop2{
      width: 60px;
}
.shop3{
    width: 38px;
}
.shop4{
    width: 75px;
}
.shop5{
    width: 85px;
}

.shopping{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
    color: gray;
}

/* Activity Log */

.clear-history {
    background: blue;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;

    display: block;
    margin: 10px;
}

.activity-log {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.dashed-line{
    width: 100%;
    height: 1px;
    border-top: 2px dashed rgb(194, 193, 193);
    margin-top: 10px;
}

.activity-head {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.disabled {
    background-color: rgb(199, 197, 197);
    pointer-events: none;
}




